<app-navbar></app-navbar>
<div class="container">
  <!--<mat-grid-list cols=10>
    <mat-grid-tile class="sidenav" [colspan]=1></mat-grid-tile>
    <mat-grid-tile class="content-container" [colspan]=9>-->
    <div class="content-container">
      <h3 class="index-title text primary">Documentos</h3>


      <div class="table-container">
        <mat-grid-list cols="1" rowHeight="30px">
          <mat-grid-tile [rowspan]=1 class="table-options">
            <input class="search-field" type="text" placeholder="Buscar"/>
            <span class="search-icon"><mat-icon>search</mat-icon></span>
          </mat-grid-tile>
        </mat-grid-list>

        <div *ngIf="data" >
          <!--table header-->
          <mat-grid-list cols="6" rowHeight="50px">
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Estado</p></mat-grid-tile>
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Documento</p></mat-grid-tile>
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Autor</p></mat-grid-tile>
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Firmante</p></mat-grid-tile>
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Creado</p></mat-grid-tile>
            <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary"></p></mat-grid-tile>
          </mat-grid-list>

          <div class="table-content">
            <mat-grid-list [style.background]="(i%2)==1?'#f3f5f7':'#FFF'" [gutterSize]="'15px'" cols="6" rowHeight="50px" *ngFor="let document of data.documents; let i = index">
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.status.name}}</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.name}}</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.user.name}}</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p *ngIf="document.sign_requests[0]" class="text primary">{{document.sign_requests[0].name}}</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.created_at}}</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary"><mat-icon>remove_red_eye</mat-icon></p></mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </div>

    </div>
    <!--</mat-grid-tile>

  </mat-grid-list>-->
      <!--<div class="">
        <p>Documentos</p>
        <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
          <mat-tab label="Todos"></mat-tab>
          <mat-tab label="Nuevos"></mat-tab>
          <mat-tab label="En Proceso"></mat-tab>
          <mat-tab label="Firmado"></mat-tab>
          <mat-tab label="Por Firmar"></mat-tab>
        </mat-tab-group>

      </div>-->
</div>
