<app-navbar></app-navbar>
<div class="container">
  <mat-grid-list cols=15 rowHeight="90vh">
    <mat-grid-tile class="sidenav" [colspan]=2>
      <div class="sidenav-content">
        <div class="sidenav-element inactive">
          <p class="primary text">
            <span><mat-icon>home</mat-icon></span>
            Inicio
          </p>
        </div>
        <div class="sidenav-element active">
          <p class="primary text">
            <span><mat-icon>description</mat-icon></span>
            Documentos
          </p>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="content-container" [colspan]=13>
      <div class="content-container">
        <h3 class="index-title text primary">Documentos</h3>


        <div class="table-container">
          <mat-grid-list cols="6" rowHeight="5vh" [gutterSize]="'10px'" class="table-options">
            <mat-grid-tile [colspan]=2>
              <input class="search-field" type="text" placeholder="Buscar"/>
              <span class="search-icon"><mat-icon>search</mat-icon></span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]=1>
              <span><mat-icon>filter_list</mat-icon></span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]=2></mat-grid-tile>
            <mat-grid-tile [colspan]=1>
              <button mat-flat-button class="inverted">Subir Documento</button>
            </mat-grid-tile>
          </mat-grid-list>

          <div *ngIf="data" >
            <!--Table Header-->
            <mat-grid-list cols="6" rowHeight="50px">
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Estado</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Documento</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Autor</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Firmante</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary">Creado</p></mat-grid-tile>
              <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text secondary"></p></mat-grid-tile>
            </mat-grid-list>

            <!-- Table Content -->
            <div class="table-content" (scroll)="onScroll($event)">
              <mat-grid-list [style.background]="(i%2)==1?'#f3f5f7':'#FFF'" [gutterSize]="'15px'" cols="6" rowHeight="50px" *ngFor="let document of data.documents; let i = index">
                <mat-grid-tile [rowspan]=1 [colspan]=1>
                  <p class="text primary" [ngClass]="{'new': document.status.id==1, 'in-process': document.status.id==2, 'signed': document.status.id==3, 'finished': document.status.id==4}">{{document.status.name}}
                  </p>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.name}}</p></mat-grid-tile>
                <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.user.name}}</p></mat-grid-tile>
                <mat-grid-tile [rowspan]=1 [colspan]=1><p *ngIf="document.sign_requests[0]" class="text primary">{{document.sign_requests[0].name}}</p></mat-grid-tile>
                <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary">{{document.created_at}}</p></mat-grid-tile>
                <mat-grid-tile [rowspan]=1 [colspan]=1><p class="text primary"><mat-icon>remove_red_eye</mat-icon></p></mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>

      </div>
    </mat-grid-tile>

  </mat-grid-list>
      <!--<div class="">
        <p>Documentos</p>
        <mat-tab-group animationDuration="0ms" mat-align-tabs="start">
          <mat-tab label="Todos"></mat-tab>
          <mat-tab label="Nuevos"></mat-tab>
          <mat-tab label="En Proceso"></mat-tab>
          <mat-tab label="Firmado"></mat-tab>
          <mat-tab label="Por Firmar"></mat-tab>
        </mat-tab-group>

      </div>-->
</div>
